---
layout: base
---
<div class="page-wrapper">
  {% if page.header_image %}
  {% include hero_header.html page=page %}
  {% else %}
  {% include pattern_header.html page=page %}
  {% endif %}

  <section id="learning-circles" class="container">
    <div class="row mb-3">
      <div class="col-12 col-md-8">
        <h1 class="mt-0">{{ page.search_title }}</h1>
      </div>
      <div class="col-12 col-md-4 text-md-right">
        <a href="https://learningcircles.p2pu.org/en/studygroup/create/" class="p2pu-btn btn-primary">{{ page.search_button }}</a>
      </div>
    </div>
    <div id="learning-circle-search"></div>
  </section>
</div>
<!-- -->

